
# Data volumes
/data/
/mariadb/data/
/postgres/data/
/minio/data/
/jupyter-notebook/notebooks/data/
/jupyter-notebook/notebooks/dataset/

# Airflow
/airflow/logs/
/airflow/.logs/
/airflow/.scheduler/
/airflow/.webserver/

# Kafka
/kafka/

#Prometheus
/prometheus/prometheus_db

#Grafana
/grafana/grafana_db/

# Python
__pycache__/
*.pyc
.env
.venv/

# Makefile
/Makefile

# Docker compose
/docker-compose_old.yml
/docker-compose-v2.yml

# VS code
/.vscode/
